* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #383838;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1 rem;
}

input {
  font: inherit;
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 30px;
  text-align: center;
  color: #242424;
}
select {
  font: inherit;
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 30px;
  text-align: center;
  color: #242424;
}

input:focus {
  outline: none;
  border-color: #010c18;
  background-color: #ecf8fa;
}

select:focus {
  outline: none;
  border-color: #010c18;
  background-color: #ecf8fa;
}

button {
  font: inherit;
  background-color: #074ea0;
  color: white;
  border: 1px solid #074ea0;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
}

button:hover,
button:active {
  background-color: #20aa04;
  border-color: #20aa04;
}
